<div id="page-container">
    <div id="content-wrap">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 cent">
                    <h4>EBI Group</h4>
                    <a href="http://rti.etf.bg.ac.rs/rti/ebi/"><h5>Electronic Business on Internet</h5></a> <br/><hr/>
                    <h4>ACM Group</h4>
                    <a href="http://rti.etf.bg.ac.rs/rti/acm/"><h5>ACM Programming Contest</h5></a>
                </div>
               
            </div>
        </div>
    </div>
    <footer id="footer"> Copyright Nikola Milicevic - ETF SI 2021</footer>
  </div>