<div id="page-container">
    <div id="content-wrap">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-2 cent">
                   <h5>Реализација сајта Удружења анестезилога и интензивиста Србије</h5><br/>
                   <div class="justify-content-left text-left">
                    <b>Тип пројекта</b>	Остали домаћи комерцијални пројекти <br/>
                    <b>Руководилац</b>	проф. др Бошко Николић <br/> 
                    <b>Финансијер</b>	УДРУЖЕЊЕ АНЕСТЕЗИОЛОГА И ИНТЕНЗИВИСТА СРБИЈЕ <br/>
                    <b>Почетак реализације</b>	28.12.2011. <br/> 
                   </div>
                   
                </div>
                <div class="col-lg-4 cent" style="margin-bottom: 70px;">
                    <h5>Реализовање телекомуникационе инфраструктуре неопходне за функционисање РНИДС-а</h5><br/>
                    <div class="justify-content-left text-left">
                        <b>Тип пројекта</b>	Комерцијални пројекти са министарствима и државним органима <br/>
                        <b>Руководилац</b>	проф. др Бошко Николић <br/> 
                        <b>Финансијер</b>	ФОНДАЦИЈА "РЕГИСТАР НАЦИОНАЛНОГ ИНТЕРНЕТ ДОМЕНА СРБИЈЕ" <br/>
                        <b>Почетак реализације</b>	31.01.2008. <br/>    
                    </div>
                 </div>
                 <div class="col-lg-4 offset-lg-2 cent">
                    <h5>SEE-GRID-SCI-SEE-GRID eInfrastructure for regional eScience (SEE-GRID-SCI) FP 7</h5><br/>
                    <div class="justify-content-left text-left">
                        <b>Тип пројекта</b>	Међународни ФП пројекти <br/>
                    <b>Руководилац</b>	проф. др Захарије Радивојевић <br/> 
                    <b>Почетак реализације</b>	14.12.2006 <br/> 
                    </div>
                    
                 </div>
                 <div class="col-lg-4 cent">
                    <h5>Softversko inzenjerstvo i nove tehnologije u racunarstvu (SINTRA)</h5><br/>
                    <div class="justify-content-left text-left">
                        <b>Тип пројекта</b> Пројекти-Развој високог образовања <br/>
                        <b>Руководилац</b>		доц. др Дражен Драшковић <br/> 
                        <b>Финансијер</b>МИНИСТАРСТВО ПРОСВЕТЕ, НАУКЕ И ТЕХНОЛОШКОГ РАЗВОЈА <br/>
                        <b>Почетак реализације</b>	14.10.2019. <br/> 
                    </div>
                 </div>
               
            </div>
        </div>
    </div>
    <footer id="footer"> Copyright Nikola Milicevic - ETF SI 2021</footer>
  </div>