<div id="page-container">
    <div id="content-wrap">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row cent">
                <div class="col-lg-4 offset-lg-4">
                    <h3>Istraživanja</h3><br/>
                    <a routerLink='/istrazivanja'>Saznajte više</a> <br/>
                    <hr/>
                    <h3>Projekti</h3><br/>
                    <a routerLink='/projekti-nauka'>Saznajte više</a><br/>
                </div>
               
            </div>
        </div>
    </div>
    <footer id="footer"> Copyright Nikola Milicevic - ETF SI 2021</footer>
  </div>