<div id="page-container">
    <div id="content-wrap">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row cent">
                <div class="col-lg-2">
                    <hr/>
                </div>
                <div class="col-lg-4" style="margin-bottom: 60px;">
                    <h3>Dekanat</h3> <br/>
                    (011) 324-8464<br/>
                    (011) 324-8681<br/>
                    dekanat@etf.bg.ac.rs
                </div>
                <div class="col-lg-4">
                    <h3>Studentski odsek</h3><br/>
                    Dragana Trenevski<br/>
                    (011) 3226-760<br/>
                    stud_sluzba@etf.bg.ac.rs
                </div>
                <div class="col-lg-2">
                    <hr/>
                </div>
                <div class="col-lg-2">
                    <hr/>
                </div>
                <div class="col-lg-4">
                    <h3>Opšti odsek</h3><br/>
                    Miloš Nalović<br/>
                    (011) 3226-992<br/>
                    opsta_sluzba@etf.bg.ac.rs
                </div>
                <div class="col-lg-4">
                    <h3>Računovodstvo</h3><br/>
                    Mirjana Vlajković<br/>
                    (011) 3370-146<br/>
                    (011) 3370-077
                </div>
                <div class="col-lg-2">
                    <hr/>
                </div>
               
            </div>
        </div>
    </div>
    <footer id="footer"> Copyright Nikola Milicevic - ETF SI 2021</footer>
  </div>