<div id="page-container">
    <div id="content-wrap">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4" align="center">
                            <app-login></app-login>
                </div>
                <div class="col-lg-4">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/etf1.jpg" alt="First slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/images/etf2.jpg" alt="Second slide">
                          </div>
                          <div class="carousel-item">
                            <img class="d-block w-100" src="../../assets/images/etf3.jpg" alt="Third slide">
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>
                </div>
                <div class="col-lg-4" style="font-size: 23px;">
                  <p>Katedra za računarsku tehniku i informatiku se bavi edukacijom, naučno-istraživačkim i projektantskim radom u oblasti računarskog hardvera, softvera i računarskih mreža.</p>
                  <p>Kao i svi drugi Fakulteti čiji je osnivač Vlada Republike Srbije, i ETF muči muku sa nedostatkom finansijskih sredstava i svaka pomoć je dobrodošla. Ako imate želju da pomognete ETF-u, kao i da vidite šta su drugi uradili možete to pogledati na stranama posvećenim donacijama i donatorima ETF-a.</p>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer"> Copyright Nikola Milicevic - ETF SI 2021</footer>
  </div>